# Ignore Protokeeb Logo Folder/Files
Logo/

# Ignore Protokeeb Rev1 Electronics Components List
# Note: Seprate BOM files are included in the repo
PCB/Rev1.0/AT-ProtoKeeb_rev1/ProtoKeeb_Parts.txt

# Ignore Protokeeb Rev1.1 Files (Work in progress)
PCB/Rev1.1/

# Ignore Protokeeb Parts BOM Excel Sheet
# Note: Seprate BOM files are included in the repo
PCB/AT_Protokeeb_BOM.xlsx

# Ignore Protokeeb 3D Printed Case v1 variant
Case/3D_Printed_Case/rev1/Protokeeb_v1_Case2.stl